<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico" title="Favicon">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta itemprop="name" content="智慧黄厝"/>
    <meta itemprop="image" content="../img/config/share.png" />
    <meta name="description" itemprop="description" content="黄厝商家、民宿服务管理、办证申请、会员管理；黄厝旅游景点、商家、民宿汇集及旅游攻略，超值预订打折优惠。" />
    <!-- Styles -->
    <link href="../css/app1.css" rel="stylesheet">
    <link href="../css/hc.common.css" rel="stylesheet">
    <title>身份证</title>
    <style>
        .fill-dev{
            height: 127px;
        }
    </style>
</head>
<body class="hc-body-gray">
<div id="app" class="hc-body-gray" v-cloak>
    <header class="hc-header" >
        <van-row style="width: 100%">
            <a href="javascript:history.go(-1)"><van-col span="4"> <van-nav-bar left-arrow/></van-col></a>
            <van-col span="16">营业执照信息</van-col>
            <van-col span="4"></van-col>
        </van-row>
    </header>
    <div class="fixed_nav_bar"></div>
    <van-uploader :before-read="compress" class="hc-img-center"  v-show="show_img">
        <img  :src="img" width="127" height="127">
    </van-uploader>
    <div  class="hc-img-center fill-dev"  v-if="show_img == false"></div>
    <van-cell-group>
        <van-field
                v-model="business_num"
                label="组织机构代码:"
                placeholder="请输入组织机构代码"
                icon="clear"
                @click-icon="business_num = ''"
                required
        />
    </van-cell-group>
    <van-cell-group>
        <van-field
                v-model="business_name"
                label="营业执照名称:"
                placeholder="请输入营业执照上名称"
                icon="clear"
                @click-icon="business_name = ''"
                required
        />
    </van-cell-group>
    <van-cell-group>
        <van-field
                v-model="business_person"
                label="营业执照法人:"
                placeholder="请输入营业执照法人"
                icon="clear"
                @click-icon="business_person = ''"
                required
        />
    </van-cell-group>
    <van-cell-group>
        <van-field
                v-model="business_address"
                label="注册地址:"
                placeholder="请输入注册地址"
                icon="clear"
                @click-icon="business_address = ''"
                required
                @click-icon="business_address = ''"
        />
    </van-cell-group>


    <div class="fixed_tab_bar"></div>
    <div class="hc-fixed-bottom-btn" >
        <van-row>
            <van-col span="12">
                <van-button bottom-action @click="reset">
                    <div>重置</div>
                </van-button>
            </van-col>
            <van-col span="12">
                <van-button type="primary" bottom-action @click="submit">确认并提交</van-button>
            </van-col>
        </van-row>
    </div>
</div>


<script src="../js/app1.js"></script>
<script src="../js/hc.common.js"></script>
<script src="../js/dist/lrz.bundle.js"></script>
<script>
    var default_img = '../img/config/nn.png'
    var app = new Vue({
        el:"#app",
        data() {
            return {
                img:default_img,
                show_img:false,
                business_num:'',
                business_person:'',
                business_name:'',
                business_address:'',
                login_check: false,
                merchant_id: false,
                config:'../img/config/nn.png',
                token:'',
            };
        },
        mounted () {
            var obj = JSON.parse(window.localStorage.getItem('HC.merchant'));
            if (obj == null) {
                this.login_check = false;
                this.$dialog.confirm({
                    title: '请先登陆',
                    message: ''
                }).then(() => {
                    window.location.href = 'login.html';
                }).catch(() => {
                    window.history.go(-1);
                });
            } else {
                this.merchant_id = obj.data.id;
                this.token = obj.data.api_token;
                this.login_check = true;
                var post_data = {
                    method: 'get.merchant.info',
                    nonce: 'get.merchant.info',
                    merchant_id: this.merchant_id,
                    token: this.token,
                };

                var _self = this
                axios.post('/api/v1',api_data_sign(post_data, 'hc'))
                    .then(function (response) {
                        var data = response.data;
                        _self.show_img=true;
                        if(data.code == 200 ){
                            _self.img = data.data.business_img == null ? default_img : '../storage'+data.data.business_img;
                            _self.business_num = data.data.business_num;
                            _self.business_person = data.data.business_person;
                            _self.business_name = data.data.business_name;
                            _self.business_address = data.data.business_address;
                        }else{
                            if(data.code !=202){
                                pop_error_msg(data.msg,_self)
                            }
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            }

        },
        methods: {
            compress(file){
                var _self = this;
                lrz(file, {width: 1024}).then(function (rst) {
                    _self.img = rst.base64
                })
            },
            reset(){
                this.img=this.config;
                this.business_num= '';
                this.business_person= '';
                this.business_name= '';
                this.business_address= '';
            },
            submit(){
                if(this.img == default_img){
                    this.$dialog.alert({
                        message: '请上传图片'
                    }).then(() => {

                    });
                    return false
                }
                var post_data = {
                    method: 'save.business',
                    nonce: 'save.business',
                    img: this.img,
                    business_num: this.business_num,
                    business_person:this.business_person,
                    business_name:this.business_name,
                    business_address:this.business_address,
                    merchant_id: this.merchant_id,
                    token: this.token,
                };
                var _self = this;
                axios.post('/api/v1',api_data_sign(post_data, 'hc'))
                    .then(function (response) {
                        var data = response.data;
                        if(data.code == 200){
                            _self.$dialog.alert({
                                message: '信息录入成功'
                            }).then(() => {
                                window.history.go(-1);
                            });
                        }else{
                            pop_error_msg(data.msg,_self)
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    })

            },
            addImg(file){

            }
        }
    })
</script>
</body>
</html>
